<!DOCTYPE html>

<html lang="en" dir="ltr">

  <head>


    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css id="bootstrap-css"">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="/css/styles1.css">


    <meta charset="utf-8">
    <title></title>

  </head>
  <body>

<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
 <div class="fadeIn first">
      <img src="https://internshala.com/cached_uploads/logo%2F60432c179affd1615014935.png" id="icon" alt="User Icon" />
    </div>

    <!-- Login Form -->
    <form action="/" method="post">
      <input type="text" id="loginid" class="fadeIn second" name="login" placeholder="login">
      <input type="text" id="password" class="fadeIn third" name="password" placeholder="password">
      <input type="submit" class="fadeIn fourth" value="Log In">

    </form>



  </div>
  </div>


  </body>
</html>
